body {
    background-color: #fff3eb !important;
}

html {
	overflow: scroll;
}

.blog-text {
    overflow-wrap: break-word;
}

.site-bg{
    background-color: #f7f7f7;
    height: 100%;
    padding-bottom: 50px;
}

.in-set{
    padding-right: 10px;
    padding-left: 10px;
}

.inline-display{
    display: inline;
}

.link-back{
    float: right;
    display: inline;
}

.btn{
    margin: 3px;
    display: inline;
    float: right;
    top: 50%;
    color: white;
}

.blog-bar{
    height: 45px;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #afafaf;
}

.blog-btn{
    background-color: #afafaf;
    border-radius: 0px;
}

.blog-btn-sel{
    background: #bcbcbc;
    border-radius: 0px;
}

.nav-btn{
    background-color: #00a0c1;
    border-radius: 0px;
}

.nav-btn-sel{
    background: #6aaab7;
    border-radius: 0px;
}

.navigation-bar{
    height: 50px;
    width: 100%;
    background-color: #00a0c1;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.title{
    display: block;
    font-size: 2em;
    font-weight: bold;
    height: 100%;
    display: inline;
    float: left;
}

.text-center {
  text-align: center;
}

.header {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}